.hero {
  background: url("http://placehold.it/2000x500&text=") no-repeat center center;
  background-size: cover;
  height: 100vh; 
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(135deg, #CCCBD0, #f1f2f4);
  opacity: .8; 
}

.hero .intro {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.hero h1 {
  font-family: 'Source Code Pro';
  color: #000;
  font-size: 2.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: left; 
}

.hero p {
  font-family: 'Source Code Pro';
  color: #000;
  line-height: 1em;
  font-size: .5rem;
  text-align: left;
}

.hero li {
  font-family: 'Source Code Pro';
  color: #000;
  line-height: 1.75em;
  text-align: left;
}

.hero .tech-img {
  background: url("../images/zack.jpg") no-repeat center -10px;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
}

/* NON-Mobile */
@media only screen and (min-width: 40.063em) {
  .hero .tech-img {
    height: 24rem;
    width: 24rem; 
  }
  
  .hero h1 {
    font-family: 'Source Code Pro';
    color: #000;
    padding-top: 1.5rem;
    text-align: left;
    font-size: 3.0rem;
  }
  
  .hero p {
    font-family: 'Source Code Pro';
    font-size: 1.5rem;
    color: #000;
    text-align: left; 
  } 

  .hero li {
    font-family: 'Source Code Pro';
    color: #000;
    line-height: 1.75em;
    text-align: left;
    margin-bottom: 1rem;
  }
}


                  