*{font-family: 'slabo 27px', serif;}

h2 { color:#5D4C38; 
     font-family: 'slabo 27px', serif;}


#header, #footer, #menu{height: 60px;}

/* Layout Helpers */
.row {min-width:100% !important;}

.container{
  background-color: #F2EECB;
  height: 100%;
  color: #5D4C38;
}

.smaller{
  min-width: 80% !important; 
  max-width: 80% !important; 
}


#menu{
  font-size: 1.25em;
  position: relative;
  text-align: center;
  background-color: #E6AC27;
  outline: 2px solid #5D4C38;
  outline-left: none;
}

a.btn{
  float: left;
  width: 20%;
  height: 40px;
  line-height: 40px; 
  margin: 10px 2.5%;
  background-color: #FFFFFF;
  color: #5D4C38;  
  box-shadow: 3px 3px 0px #5D4C38; 
}

a.btn:hover {
  box-shadow: none;
}

a.btn.selected{
  box-shadow: none;
  color: #E56035;
  background-color: #5D4C38;
}


/* Main Page */
#intro-text{
  padding-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 2px solid #0A867B;
}

