h2 { color:#5D4C38;}
.row {min-width:100% !important;}

.container{
  background-color: #F2EECB;
  height: 100%;
  color: #5D4C38;
}

a.btn{
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
  width: 20%;
  float: left;
  cursor: default;
  height: 50px;
  line-height: 50px; 
  background-color: #FFFFFF;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 3px 3px 0px #5D4C38; 
  color: #5D4C38;  
}

a.btn:hover {
  box-shadow: none;
  color: #E56035; 
}

a.btn:active {
  box-shadow: none;
  border: 2px solid #424242;
}

a.btn.selected{
  box-shadow: none;
  color: #E56035;
  background-color: #5D4C38;
}

#top-row{height: 60px;}

#menu-container{
  position: relative;
  text-align: center;
  background-color: #E6AC27;
  height: 75px;
  padding-top: 12px;
  border: 2px solid #5D4C38;
  border-left: none;
}

.smaller{
  min-width: 80% !important; 
  max-width: 80% !important; 
}

#intro-text{
  padding-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 2px solid #0A867B;
}

#footer{height: 75px;}
